.header {
    padding: 25px 25px 0;
    height: 120px;
    display: flex;
    justify-content: space-between;
    --max-size: 15px;
    gap: 15px;
    color: var(--col-black);

}

.header__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.header__logo {
    max-width: 250px;
}

.header__adres {
    font-size: var(--max-size);
    position: relative;
    margin: 0 0 0 var(--max-size);
}

.header__adres::before {
    position: absolute;
    left: -19px;
    content: "";
    background-image: url(../images/location.svg);
    background-size: cover;
    width: var(--max-size);
    height: var(--max-size);
}

.header__nav {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    gap: 15px;
    justify-content: space-around;
}

.header__nav-el {
    margin: 0;
    align-self: self-end;
    font-size: var(--max-size);
    color: var(--col-black);
    text-decoration: none;
    font-weight: 500;
    transition: all 0.2s;
    padding: 0;
}

.header__nav-el_active {
    align-self: self-end;
    padding-bottom: 5px;
    transition: all 0.2s;
    border-bottom: 2px solid var(--col-main);
}

.header__container:nth-child(3) {
    display: block;
    max-width: 500px;
    justify-content: unset;
    gap: 10px;
    justify-content: space-between;

}

.header__container-top {
    gap: 10px;
    display: flex;
    justify-content: baseline;
    margin-bottom: 30px;
}

.header__container-bottom {
    display: flex;
    justify-content: space-between;
}

.header__telephone {
    display: flex;
    margin: 0;
    font-weight: 700;
    align-self: center;
}

.header__social {
    display: block;
    width: 35px;
    height: 35px;
    background-size: cover;
}

.header__social:hover {
    opacity: 0.7;
}

.header__social_wa {
    background-image: url(../images/whatsapp-logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 10px;
}

.header__social_tg {
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
    background-image: url(../images/telegram-circle-blue-logo-16635.svg);
}

.header__order-btn {
    letter-spacing: 1px;
    cursor: pointer;
    font-size: 15px;
    border: none;
    border-radius: 40px;
    background-color: var(--col-main);
    padding: 15px 80px;

}

.header__order-btn:hover {
    opacity: 0.7;
}

.header__search-form {
    width: calc(100% - 50px);

    height: 35px;
    display: flex;
}

.header__search {

    width: 90%;
    height: 100%;
    border-radius: 20px 0 0 20px;
    border: none;
    background-color: rgba(82, 82, 82, 0.075);
    box-sizing: border-box;
    padding: 0 5px;
    font-size: 18px;


}

.header__search:focus {
    background-image: none;
    border: none;
    background-color: var(--col-white);
}

.header__search-btn {
    cursor: pointer;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 10%;
    background-image: url(../images/loup.svg);
    background-repeat: no-repeat;
    background-size: 35px;
    border: none;
    background-color: rgba(82, 82, 82, 0.075);
    border-radius: 0 20px 20px 0;
}

.header__search-btn:hover {
    opacity: 0.7;
}

.header__search-btn:active {
    border: 2px solid black;
}

.header__basket-btn {
    padding: 0;
    background-image: url(../images/add-to-basket.svg);
    background-size: cover;
    background-position: center;
    height: 35px;
    width: 35px;
    margin: auto 0;
    border: none;
    background-color: rgba(240, 248, 255, 0);
    cursor: pointer;
}

.header__basket-btn:hover {
    opacity: 0.7;
}

.header__nav-menu-btn {
    display: none;
}

@media screen and (max-width: 1150px) {
    .header {
        --max-size: 11px;
    }

    .header__logo {
        max-width: 210px;
    }

    .header__nav {
        gap: 10px;
    }

}

@media screen and (max-width: 425px) {
    .header__logo {
        max-width: 170px;
        padding-left: 60px;

    }

    .header {
        height: 70px;
        position: absolute;
        padding: 10px;
    }


    .header__telephone,
    .header__social,
    .header__order-btn,
    .header__adres,
    .header__search {
        display: none;
    }
.header__nav-el{
    font-size: 20px;
    
}
    .header__nav {
        transition: all 0.5s;
        position: fixed;
        flex-direction: column;
        gap: 40px;
        z-index: 5555;
        background-color: rgba(197, 197, 197, 0.815);
        height: 100%;
        justify-content: flex-start;
        width: 50vw;
        padding: 15px;
        left: 0;
        top: 0;
        transform: translateX(-100%);
        
    }
    .header__nav_active{
        transform: translateX(0);
    }

    .header__nav-menu-btn {
        display: block;
        background-image: url(../images/navigation.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 50px;
        background-color: rgba(240, 248, 255, 0);
        border: none;
        height: 50px;
        transform: translateX(57vw);

    }

}