.legacy-wrapper {
    background-color: var(--col-black);
    color: var(--col-white);
}

.legacy {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 500px;
    max-width: var(--min-display-w);
    margin: auto;
    padding: 0;
    justify-content: space-between;
    padding: 25px;
    list-style: none;


}



.legacy__heading {
    margin: 0;
}


.legacy__el {


    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.legacy__el-img-container {
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}




.legacy__el-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
    filter: grayscale(100%);
    transform: scale(1.1);
    transition: all 0.5s;
    cursor: pointer;

}

.legacy__el-img_active {
    transform: scale(1);
    filter: grayscale(0);

}

.legacy__el-img:hover {

    transform: scale(1);
}

.legacy__desc-container {
    border-left: 2px solid var(--col-main);
    overflow: hidden;
    max-height: 500px;
    transition: all 0.5s;
}

.legacy__desc {
    padding-left: 10px;
    max-width: 90%;
    font-size: 20px;
    line-height: 1.5;
    transition: all 0.5s;
    transform: translateX(-450px);



}

.legacy__desc_transform-right {
    transition: all 0.5s;
    transform: translateX(0);

}



.legacy__el-name {
    margin: 0;
    position: absolute;
    text-align: center;
    top: 5px;
    width: 100%;
    font-size: 35px;
    color: var(--col-main);
    font-weight: 700;
    transition: all 0.5s;


}

.legacy__el-name_active {
    transition: all 0.5s;
    transform: translateY(-100px);
}

@media screen and (max-width: 425px) {
    .legacy {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 480px;
        height: auto;
        padding: 10px;

    }

    .legacy__el {
        grid-template-columns: auto;
        grid-template-rows: repeat(3, 150px);
    }


}